# Copy this file to .env and fill in your details
GO_DDNS_SECRET="openssl rand -hex 32"
GO_DDNS_CLOUDFLARE_TOKEN="your_cloudflare_api_token"
GO_DDNS_ZONE_ID="your_cloudflare_zone_id"
GO_DDNS_DOMAIN="domain.tld"
GO_DDNS_KEY="_go_ddns"
